.starter-prompt-card-action {
  appearance: none;
  background-color: #ffffff;
  border: solid 1px #d1d1d1;
  border-radius: 4px;
  display: grid;
  gap: 8px;
  grid-template-areas: 'image title' 'image subtitle';
  grid-template-columns: 20px 1fr;
  grid-template-rows: auto 1fr;
  padding: 6px 8px 8px;
  text-align: left;
}

.starter-prompt-card-action__image {
  grid-area: image;
}

.starter-prompt-card-action__subtitle {
  font-family: 'Segoe UI';
  font-size: 14px;
  font-weight: 400;
  grid-area: subtitle;
  line-height: 20px;
  pointer-events: none; /* Links in subtitle are not clickable. */
}

.starter-prompt-card-action__title {
  font-family: 'Segoe UI';
  font-size: 14px;
  font-weight: 600;
  grid-area: title;
  line-height: 20px;
}
