.starter-prompts {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px; /* TODO: This is padding of Web Chat and should be retrieved from Web Chat instead of hardcoding here. */
}

/* TODO: What is the good width to show as 3 columns? Web Chat, by default, has a bubble max width of 480px. */
@container webchat-container (width <= 480px) {
  .starter-prompts {
    grid-template-columns: 1fr;
  }
}
